{
  "instance_admins": {{ gitlab_rbac_instance_admins | to_json }},
  "enforce_admin_exact": {{ gitlab_rbac_enforce_admin_exact | to_json }},
  "groups": {{ gitlab_rbac_groups | to_json }},
  "members": {{ gitlab_rbac_members | to_json }}
}
