{
  "settings": {{ gitlab_rbac_settings | to_json }},
  "instance_admins": {{ gitlab_rbac_instance_admins | to_json }},
  "enforce_admin_exact": {{ gitlab_rbac_enforce_admin_exact | to_json }},
  "groups": {{ gitlab_rbac_groups | to_json }},
  "members": {{ gitlab_rbac_members | to_json }},
  "delete_projects": {{ gitlab_rbac_delete_projects | to_json }},
  "projects": {{ gitlab_rbac_projects | to_json }},
  "integrations": {{ gitlab_rbac_integrations_resolved | default([]) | to_json }},
  "project_files": {{ gitlab_rbac_project_files | default([]) | to_json }}
}
