[defaults]
inventory          = inventories/poc/hosts.yml
remote_user        = by-systems
private_key_file   = ~/.ssh/id_ed25519_rune
host_key_checking  = False
retry_files_enabled = False
stdout_callback    = yaml
callbacks_enabled  = timer, profile_tasks

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
vault_password_file = .vault_pass
