# {{ ansible_managed }}
# Read by the master at start-up (weed looks in /etc/seaweedfs/).
[master.volume_growth]
copy_1 = {{ seaweedfs_volume_growth_count }}
copy_2 = {{ seaweedfs_volume_growth_count }}
copy_3 = {{ seaweedfs_volume_growth_count }}
copy_other = 1
