{
  "identities": [
    {
      "name": "admin",
      "credentials": [{"accessKey": "{{ seaweedfs_creds.admin_access_key }}", "secretKey": "{{ seaweedfs_creds.admin_secret_key }}"}],
      "actions": ["Admin", "Read", "Write", "List", "Tagging"]
    }
  ]
}
