# {{ ansible_managed }}
[Unit]
Description=Schedule for {{ host_job_description or host_job_name }}

[Timer]
OnCalendar={{ host_job_on_calendar }}
RandomizedDelaySec={{ host_job_randomized_delay }}
Persistent={{ 'true' if host_job_persistent | bool else 'false' }}

[Install]
WantedBy=timers.target
