# Managed by Ansible (roles/nextcloud_collab). Secrets from Vault {{ nextcloud_collab_vault_path }}.
NC_DOMAIN={{ nextcloud_collab_nc_domain }}
NC_PROTOCOL=https
HPB_DOMAIN={{ nextcloud_collab_nc_domain }}
HPB_PATH={{ nextcloud_collab_signaling_prefix }}/
HPB_PROTOCOL=https
RECORDING_SECRET={{ nextcloud_collab_secrets.recording_secret }}
INTERNAL_SECRET={{ nextcloud_collab_secrets.internal_secret }}
SKIP_VERIFY=false
TZ={{ nextcloud_collab_timezone }}
