# Managed by Ansible (roles/nextcloud_collab). Secrets from Vault {{ nextcloud_collab_vault_path }}.
NC_DOMAIN={{ nextcloud_collab_nc_domain }}
TALK_HOST={{ nextcloud_collab_talk_host }}
TALK_PORT={{ nextcloud_collab_turn_port }}
TURN_DOMAIN={{ nextcloud_collab_turn_domain_internal }}
TURN_SECRET={{ nextcloud_collab_secrets.turn_secret }}
SIGNALING_SECRET={{ nextcloud_collab_secrets.signaling_secret }}
INTERNAL_SECRET={{ nextcloud_collab_secrets.internal_secret }}
TALK_MAX_STREAM_BITRATE={{ nextcloud_collab_talk_max_stream_bitrate }}
TALK_MAX_SCREEN_BITRATE={{ nextcloud_collab_talk_max_screen_bitrate }}
SKIP_CERT_VERIFY=false
TZ={{ nextcloud_collab_timezone }}
