# Managed by Ansible (roles/nextcloud_collab). Secret from Vault {{ nextcloud_collab_vault_path }}.
NEXTCLOUD_URL=https://{{ nextcloud_collab_nc_domain }}
JWT_SECRET_KEY={{ nextcloud_collab_secrets.whiteboard_jwt }}
STORAGE_STRATEGY=lru
PORT=3002
TZ={{ nextcloud_collab_timezone }}
