# {{ ansible_managed }}
[Unit]
Description=Daily ACME renewal check ({{ lego_cert_id }})

[Timer]
OnCalendar={{ lego_cert_on_calendar }}
RandomizedDelaySec={{ lego_cert_randomized_delay }}
Persistent=true

[Install]
WantedBy=timers.target
